/* riksa paradila - 10123901 - IF-12 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --light-t1: #ccc4ed;
  --border-color-2: #6b5536;
  --text-color-1: rgba(187, 177, 231, 0.62);
  --text-color-2: rgba(154, 119, 35, 1);
  --text-color-3: rgba(3, 140, 54, 1);
  --text-color-4: #a395df;
  --text-color-5: #9f91de;
  --text-color-6: #826dff;
  --text-color-7: #9a7723;
  --text-color-8: #eaa742;
  --text-color-9: #e9a742;
  --text-color-10: #c4893b;
  --text-color-11: #ffe0b7;
  --text-color-12: #dfa650;
  --text-color-13: #ffca79;
  --text-color-14: #038c36;
  --text-color-15: #04bc49;
  --text-color-16: #01ab3f;
  --text-color-17: #d4ffe4;
  --text-color-18: #77d3e3;
  --text-color-19: #0466bc;
  --text-color-20: #77d3e3;
  --text-color-21: #e3a077;
  --text-color-22: #bc4a04;
  --text-color-23: #fc6736;
  --text-color-24: #c24c20;
  --text-color-25: #ad5221;
  --text-color-26: #3cdfc2;
  --text-color-27: #596cc2;
  --text-color-28: #b9b9b9;
  --text-color-29: #fa97f7;
  --text-color-30: #eedd24;
  --text-color-31: #5bdca9;
  --text-color-32: #668feb;
  --text-color-33: #df28a3;
  --text-color-34: #c4f9ff;
  --text-color-35: #faa71e;
  --text-color-36: #648dff;
  --text-color-37: #365c77;
  --text-color-38: #558cab;
  --text-color-39: #89903a;
  --text-color-40: #d5ccca;
  --text-color-41: #6851f8;
  --text-color-42: #bc7204;
  --text-color-43: #a42c00;
}

body {
  font-family: "VALORANT";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--text-color-22);
  cursor: pointer;
}

a:hover {
  color: var(--text-color-22);
}

a,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

/* header */
.header-section-main {
  position: fixed;
  margin-top: -45%;
  padding: 40px;
  width: 100%;
  z-index: 99;
}

.header-section-inner {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  flex-shrink: 0;
}

.header-logo img {
  width: 60px;
  height: 60px;
  filter: hue-rotate(100deg);
}

.header-menu {
  width: 80%;
}

.header-menu ul {
  display: flex;
  gap: 90px;
  justify-content: end;
  list-style: none;
}

.header-menu ul li a {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  color: var(--text-color-22);
  display: inline-block;
  transition: 0.3s;
}

.header-menu ul li a:hover,
.header-menu ul li.active a {
  color: var(--text-color-23);
}

.header-menu ul li a:hover:after,
.header-menu ul li.active a:after {
  transform: translate(-50%, 0);
  opacity: 1;
}

.header-menu ul li a:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: block;
  background: url(../img/menu-hover-icon-2.svg) center center / cover;
  width: 70px;
  height: 70px;
  transform: translate(-50%, 30px);
  transition: 0.3s;
  opacity: 0;
}

.header-right-icon {
  flex-shrink: 0;
}

.header-right-icon img {
  width: 21px;
  height: 8px;
}
/* header */

section {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: calc(50% + 220px);
  }
  &:nth-child(5) {
    left: calc(50% + 440px);
  }
  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
  &:nth-child(7) {
    left: calc(50% + 660px);
    opacity: 0;
  }
  &:nth-child(8) {
    left: calc(50% + 660px);
    opacity: 0;
  }
  &:nth-child(9) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.content {
  width: 550px;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  background-color: #00000053;
  padding: 20px;
  border-radius: 24px;

  & .title {
    text-transform: uppercase;
    font-family: "VALORANT";
    font-size: 5rem;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 1rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title {
      font-size: 1rem;
    }
    & .description {
      font-size: 0.7rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 170px);
    }
    &:nth-child(5) {
      left: calc(50% + 340px);
    }
    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }
    & .description {
      font-size: 0.65rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 140px);
    }
    &:nth-child(5) {
      left: calc(50% + 280px);
    }
    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}
