* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --light-t1: #CCC4ED;
    --border-color-2: #6B5536;
    --text-color-1: rgba(187, 177, 231, 0.62);
    --text-color-2: rgba(154, 119, 35, 1);
    --text-color-3: rgba(3, 140, 54, 1);
    --text-color-4: #A395DF;
    --text-color-5: #9F91DE;
    --text-color-6: #826DFF;
    --text-color-7: #9A7723;
    --text-color-8: #EAA742;
    --text-color-9: #E9A742;
    --text-color-10: #C4893B;
    --text-color-11: #FFE0B7;
    --text-color-12: #DFA650;
    --text-color-13: #FFCA79;
    --text-color-14: #038C36;
    --text-color-15: #04BC49;
    --text-color-16: #01AB3F;
    --text-color-17: #D4FFE4;
    --text-color-18: #77d3e3;
    --text-color-19: #0466bc;
    --text-color-20: #77d3e3;
    --text-color-21: #e3a077;
    --text-color-22: #bc4a04;
    --text-color-23: #fc6736;
    --text-color-24: #c24c20;
    --text-color-25: #ad5221;
    --text-color-26: #3cdfc2;
    --text-color-27: #596cc2;
    --text-color-28: #b9b9b9;
    --text-color-29: #fa97f7;
    --text-color-30: #eedd24;
    --text-color-31: #5bdca9;
    --text-color-32: #668feb;
    --text-color-33: #df28a3;
    --text-color-34: #c4f9ff;
    --text-color-35: #faa71e;
    --text-color-36: #648dff;
    --text-color-37: #365c77;
    --text-color-38: #558cab;
    --text-color-39: #89903a;
    --text-color-40: #d5ccca;
    --text-color-41: #6851f8;
    --text-color-42: #bc7204;
    --text-color-43: #a42c00;
}

body {
    font-family: 'VALORANT';
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    max-width: 2560px;
    background: var(--white);
    color: var(--text-color-1);
}

a {
    text-decoration: none;
    outline: none;
    color: var(--text-color-1);
    cursor: pointer;
}

a:hover {
    color: var(--text-color-1);
}

a, a:active, a:focus {
    outline: none;
    text-decoration: none;
}

img {
    border: none;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

ul, li {
    padding: 0;
    margin: 0;
}

.custom-container {
    padding: 0 32px;
    margin: 0 auto;
}

h1 {
    font-family: 'Insomnia', sans-serif;
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    line-height: 104px;
    letter-spacing: 5.16px;
    background: linear-gradient(180deg, #6D4BE7 0%, #998BE5 90%);
    background-clip: text;        
}

h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 10.8px;
    color: var(--text-color-5);
    text-transform: uppercase;
}

h6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 18.48px;
    color: var(--text-color-4);
}

/* header */
    .header-section-main {
        position: fixed;
        padding-top: 40px;
        width: 100%;
        z-index: 99;
    }

    .header-section-inner {
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        flex-shrink: 0;
    }

    .header-logo img {
        width: 60px;
        height: 60px;
        filter: hue-rotate(100deg);
    }

    .header-menu {
        width: 80%;
    }

    .header-menu ul {
        display: flex;
        gap: 90px;
        justify-content: end;
        list-style: none;
    }

    .header-menu ul li a {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        font-style: normal;
        color: var(--text-color-1);
        display: inline-block;
        transition: 0.3s;        
    }

    .header-menu ul li a:hover, .header-menu ul li.active a {
        color: var(--light-t1);
    }

    .header-menu ul li a:hover:after, .header-menu ul li.active a:after {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    .header-menu ul li a:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 50%;
        display: block;
        background: url(../img/menu-hover-icon-2.svg) center center / cover;
        width: 70px;
        height: 70px;
        transform: translate(-50%, 30px);        
        transition: 0.3s;        
        opacity: 0;
    }

    .header-right-icon {
        flex-shrink: 0;
    }

    .header-right-icon img {
        width: 21px;
        height: 8px;
    }
/* header */

/* omen */

.banner-section-main {
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.banner-section-main .banner-section-loop {
    position: relative;
    padding-top: 42px;
    display: flex;
    align-items: center;
    background: no-repeat top center / 100% 100%;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

.banner-left-vertical-main {
    width: calc(7% - 6.66px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.banner-main-img {
    width: calc(53% - 6.66px);
    align-self: end;
    max-height: 865px;
}

.banner-content-main {
    width: calc(28% - 6.66px);
    padding-top: 70px;
}

.controller-right-icons-main {
    width: calc(12% - 15px);
    padding-right: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.controller-right-icons-main img {
    width: 62px;
    height: 62px;
    margin-left: auto;
    margin-bottom: 34px;
    cursor: pointer;
    transition: 0.3s;        
}

.controller-right-icons-main .slick-track {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}

.controller-right-icons-main .slick-slide {
    width: 100%;
}

.banner-left-vertical-main h6 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.banner-left-vertical-main img {
    width: 70px;
    height: 70px;
}

.banner-content-main h5 {
    padding-bottom: 12px;
}

.banner-section-loop .banner-content-main h1 {
    display: inline-flex;
    padding-bottom: 28px;
}

.controller-box-section {
    border: 1px solid var(--text-color-6);
    background: linear-gradient(180deg, rgba(68, 45, 142, 0.20) 0%, rgba(82, 51, 180, 0.09) 100%);
    padding: 19.771px 22.218px 20.229px 22.799px;
    display: flex;
    gap: 15px;
    margin-bottom: 14px;
}

.controller-box-img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.banner-content-main .controller-box-content h5 {
    letter-spacing: normal;
    padding-bottom: 6px;
}

.controller-icons-main {
    display: flex;
    gap: 18px;
    padding-bottom: 45px;
}

.controller-icons-inner {
    border: 1px solid var(--text-color-6);
    flex: 1;
}

.controller-img {
    padding: 18px;
    text-align: center;
}

.controller-img img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.controller-icons-inner p {
    font-size: 14px;
    line-height: 16px;
    color: #BBB1E7;
    text-transform: uppercase;
    text-align: center;
    padding: 3px;
    border-top: 1px solid var(--text-color-6);
    background: linear-gradient(180deg, rgba(68, 45, 142, 0.20) 0%, rgba(82, 51, 180, 0.09) 100%);
}

.banner-section-loop .view-contract-btn-main {
    position: relative;
    display: block;
    background: url("../img/button-bg.svg") no-repeat center center / cover;
    width: 285px;
    height: 65px;
    z-index: 1;
    cursor: pointer;
}

.banner-section-loop .view-contract-btn-main a {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #CCC4ED;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);        
    display: block;
}

.banner-main-img .main-img {
    position: relative;
    padding-top: 78%;
    width: 100%;
    z-index: 1;
    transition: 0.3s;        
    transform: translate(-50%, 10%) !important;        
    left: 65%;
}

.banner-main-img .main-img.character-animation {
    animation: character-animation 2s ease-in-out 1;
}

.banner-main-img img {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);        
    height: 100%;
    display: block;
}

.controller-right-icons-main .slick-current.slick-active img,
.controller-right-icons-main .slick-active img:hover {
    filter: drop-shadow(6px 6px 6px var(--text-color-4));
}

.controller-right-icons-main .slick-current.slick-active:nth-child(3n+2) img,
.controller-right-icons-main .slick-active:nth-child(3n+2) img:hover {
    filter: drop-shadow(6px 6px 6px var(--text-color-12));
}

.controller-right-icons-main .slick-current.slick-active:nth-child(3n+3) img,
.controller-right-icons-main .slick-active:nth-child(3n+3) img:hover {
    filter: drop-shadow(6px 6px 6px var(--text-color-14));
}

/* omen */

@media only screen and (max-width: 1600px) {

    .header-section-main {
        padding-top: 35px;
    }

    .header-menu ul li a:after {
        bottom: -60px;
    }

    .banner-left-vertical-main {
        margin-top: 0;
    }

    .banner-left-vertical-main h6 {
        letter-spacing: 16px;
    }

    .banner-left-vertical-main img {
        width: 60px;
        height: 60px;
    }

    .banner-content-main h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .banner-section-loop .banner-content-main h1 {
        font-size: 70px;
        line-height: 80px;
    }

    .banner-section-loop .banner-content-main h1 {
        padding-bottom: 24px;
    }

    .controller-box-img {
        width: 45px;
        height: 45px;
    }

    .controller-box-section {
        padding: 15px;
        margin-bottom: 12px;
    }

    .controller-img {
        padding: 14px;
    }

    .controller-icons-main {
        gap: 16px;
        padding-bottom: 35px;
    }

    .banner-section-loop .view-contract-btn-main a {
        font-size: 16px;
        line-height: 20px;
    }

    .controller-right-icons-main img {
        width: 55px;
        height: 55px;
        margin-bottom: 25px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1500px) and (max-height:620px) {

    .banner-main-img {
        max-height: 620px;
    }

    .banner-left-vertical-main h6 {
        letter-spacing: 10px;
    }

}

@media only screen and (max-width: 1300px) {

    .header-section-main {
        padding-top: 30px;
    }

    .header-menu ul li a:after {
        bottom: -56px;
    }

    .header-menu ul {
        gap: 70px;
    }

    .custom-container {
        padding: 0 18px;
    }

    .banner-main-img {
        width: calc(50% - 6.66px);
    }

    .banner-content-main {
        width: calc(30% - 6.66px);
    }

    .controller-right-icons-main {
        width: calc(10% - 8px);
        padding-right: 8px;
    }

    .banner-section-loop .banner-content-main h1 {
        font-size: 55px;
        line-height: 65px;
        padding-bottom: 20px;
    }

    .controller-box-img {
        width: 40px;
        height: 40px;
    }

    .controller-box-section {
        padding: 12px;
        margin-bottom: 10px;
    }

    .banner-content-main h5 {
        font-size: 14px;
        line-height: 18px;
    }

    .controller-img {
        padding: 12px;
    }

    .controller-icons-main {
        gap: 14px;
        padding-bottom: 30px;
    }

    .banner-section-loop .view-contract-btn-main {
        width: 240px;
        height: 55px;
    }

    .banner-section-loop .view-contract-btn-main a {
        font-size: 14px;
        line-height: 18px;
    }

    .controller-right-icons-main img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    .banner-main-img .main-img {
        padding-top: 100%;
    }

}